# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
x64/Release/viconOSC.ipdb
x64/Release/viconOSC.log
*.iobj
x64/Release/viconOSC.pch
*.dll
x64/Release/vc140.pdb
*.exe
x64/Debug/viconOSC.tlog/link.write.1.tlog
*.lastbuildstate
x64/Debug/viconOSC.tlog/CL.write.1.tlog
*.tlog
viconOSC.VC.db
*.filters
*.pdb
ipch/VICONOSC-453e020e/VICONOSC-d8eb4eea.ipch
*.ipdb
Release/viconOSC.pch
*.log
viconOSC.vcxproj.user
*.ilk
Debug/vc140.idb
*.ipch
Debug/viconOSC.pch
*.idb
x64/Debug/viconOSC.pch
